/* ========== reset ========== */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border:0;
}

html {
  scroll-behavior: smooth;
  text-decoration: none;
  scrollbar-gutter: stable;
}

body {
  width: 100%;
}

summary {
  list-style-type: none;
}

svg {
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.type-js {
  font-size: 2em;
  border-right: .1em solid #333;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}


/* ==============================
        スクロールバー非表示(発表会用)
============================== */

html.is-preview::-webkit-scrollbar,
body.is-preview::-webkit-scrollbar { display: none; width: 0; height: 0; }
html.is-preview, body.is-preview { scrollbar-width: none; -ms-overflow-style: none; }

/* ==============================
        custom-properties
============================== */

:root {
  /* ===== color ===== */
  --white: #fafafa;
  --blue: #0008E6;
  --green: #67FF00;
  --txColor: black;

  /* ===== font ===== */
  --fs-subText-14: 0.875rem; /* 14px */
  --fs-text-16: 1rem; /* 16px */
  --fs-sectionItem-20: 1.25rem; /* 20px */
  --fs-subTitle-scale-22: 1.4rem; /* 22.6px */
  --fs-subTitle-24: 1.5rem; /* 24px */
  --fs-sectionTitle-40: 2.5rem; /* 40px */
  --fs-ghost-120: 7.5rem;/* 120px */
  --fs-ghost-PC-230: 14.375rem;/* 230px */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* transform */
  --tf-skew: -10deg;

  /* effects */
  --text-shadow-main: 0 0 10px rgba(10, 0, 100, 0.8);
}

/* ==============================
        animation
============================== */

/* メインビューの中身のほんのり移動用 PCは少しうっとうしいのでアニメーションnoneに*/
@keyframes panX {
  0% {
    transform: translateX(0);}
  50% {
    transform: translateX(-5%);}
  100% {
    transform: translateX(0);}
}


/* セクションタイトル横のキーカーソル用 */
@keyframes cursorAnimation {
  50% {
    border-color: transparent;
  }
}

/* モーダルの表示時にふんわり出す用 */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalBGFadeIn {
  from {
    background: rgba(0,0,0,0);
  }
  to {
    background: rgba(0,0,0,0.7);
  }
}

@keyframes typingAnimation {
  from {
    width: 0;
  }
}

@keyframes rotationAnimation {
  0% {
    opacity: 0;}
  40% {
    opacity: 1;
    transform: rotate(0deg);}
  60%{
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-15deg);}
}

@keyframes btnFlash{
  100%{
    left: 120%;
  }
}


/* ==============================
            common
============================== */

/* SPクラスはすべて表示する */
.sp {
  display: block;
}

.btn {
  position: relative;
  display: flex;
  width: min(362px, 96%);
  padding: 22px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  background: var(--blue, #0008E6);
  box-shadow: 2px 2px 2px rgba(0, 0, 105, 0.4);

  font-size: var(--fs-sectionItem-20);
  font-weight: var(--fw-medium);
  line-height: 1;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.2s;
}

.btn::before{
  position: absolute;
  content: "";
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background: rgba(188, 190, 255, 0.6);
  transform: skewX(-30deg);
  transition: 0.4s;
}

.btn:hover::before{
  animation: btnFlash 0.3s ease;
}

.btn::after {
  content: "";
  display: block;
  width: 18px;
  height: auto;
  aspect-ratio: 18/18;
  z-index: 100;
  background: url(../images/blank.svg) center / contain no-repeat;
}

.accent {
  width: 100%;
  height: 10px;
  background-image: url(../images/imgAccentHolo.webp);
  overflow: hidden;
}


.accent__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.accent--var01 {
  width: 100%;
  height: 10px;
  background-image: url(../images/imgAccentHolo.webp);
  background-size: 100%;
  transform: rotateY(180deg);
}


body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  letter-spacing: 0.05%;
}

li {
  list-style: none;
}

/* SEOとして情報は残すが要素を消す */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.bg--white {
  background-color: var(--white);
}

.section {
  display: block;
  justify-content: center;
  width: 100%;
  padding: 120px 4.97% 60px;
  overflow-x: clip;
  text-align: center;
  overflow: hidden;
}

.sectionTitle {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0 0 40px 0;
}

.sectionTitle__text {
  padding-right: 2px ;
  font-family: "Anton", sans-serif;
  font-size: var(--fs-sectionTitle-40);
  font-weight: var(--fw-regular);
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--blue, #0008E6);
  transform: skew(var(--tf-skew));

  height: var(--fs-sectionTitle-40);
  border-right: 1px solid  black;
  animation: cursorAnimation 1.2s step-start 0s infinite normal both running;

}

.sectionTitle__ghost {
  position: absolute;
  top: -0.5em;
  transform: skew(var(--tf-skew));
  align-items: center;
  text-align: center;
  pointer-events: none;

  font-family: "Anton SC", sans-serif;
  font-size: var(--fs-ghost-120);
  line-height: 0.88;
  letter-spacing: 0.03em;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 8, 230, 0.15);
  color: transparent;

}

.subTitle {
  position: relative;
  display: inline-block;
  font-family: "Zen Kaku Gothic New";
  font-size: var(--fs-subTitle-24);
  font-weight: var(--fw-bold);
  line-height: 88%; /* 21.12px */
  text-align: center;
  letter-spacing: 0.05em;
  color: #000;
  padding-bottom: 20px;
  z-index: 0;
}

.subTitle::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  top: -11px;
  left: -16px;
  transform: rotate(0deg);
  background-image: url(../images/imgAccent01.png);
  background-size: cover;
  opacity: 0;
  transition: 0.3s;
}

.subTitle.is-animated::before {
  opacity: 0;
  animation: rotationAnimation 0.4s linear forwards;
}

.subText {
  padding-bottom: 10px;
}

.lead {
  padding: 0 0 40px 0;
  text-align: left;
}

.gnav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
}

.gnav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  font-family: "Anton SC", sans-serif;
  font-size: var(--fs-sectionItem-20);
  text-align: center;
  color: var(--blue);
}

.gnav__item + .gnav__item {
    border-left: 1px solid rgba(10, 10, 10, 0.6);
    height: 14px;
}



  /* ==============================
              header
  ============================== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px 0 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: rgba(255,255,255,.60);
  backdrop-filter: blur(10px);
}

.site-logo {

  a {
    width: 128px;
    height: auto;
    aspect-ratio: 128 / 40;
    display: block;
    overflow: hidden;
    color: transparent;
    background: url(../images/logo-color.svg) center / contain no-repeat;
    text-indent: 100%;
    white-space: nowrap;
  }
}

.snsX {
	display: block;
	overflow: hidden;
  width: 32px;
  height: auto;
  aspect-ratio: 32 / 32;
	background: url(../images/x-logo/logo-black.png) center / contain no-repeat;
  text-indent: 100%;
  white-space: nowrap;
}



  /* ==============================
              hero
  ============================== */

.hero {
  position: relative;
  height: 95vh;
  overflow: hidden;
}

.hero__inner {
  height: 95vh;
  padding: 60px 20px 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
}

.hero__copy {
  font-size: var(--fs-subTitle-24);
  font-weight: var(--fw-bold);
  color: var(--white);
  text-align: center;
  padding: 20px 0 15px;
  text-shadow: var(--text-shadow-main);
}

.hero__logo {
  z-index: 10;
  margin: 0 auto;
  width: 260px;
  height: auto;
  aspect-ratio: 1.97 / 1;
  white-space: nowrap;

  /* line */
  stroke: rgba(224,225,255, 0.6);
  stroke-width: 2px;
  paint-order: stroke fill;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.svg--shadow {
  path {
    filter: drop-shadow(0px 0px 2px rgba(169, 169, 226, 0.4));
  }
 }

.hero__cta {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: var(--fs-sectionItem-20);
    font-weight: var(--fw-regular);
    text-shadow: var(--text-shadow-main);
  }

  .btn--hero {
    margin-top: 20px;
    padding-block: 24px;
    background-color: rgba(0, 8, 230, 0.9);
   }
}

.hero__subText {
  color: var(--white);
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 95vh;
  /* widthを指定しない場合、bottomやrightでの数値入力で表示範囲が広がる */
  bottom: -5%;
  right: -5%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 53% center;
  opacity: 0;
  transition: opacity 1.2s ease;

  z-index: -20;
  animation: panX 18s ease-in-out infinite;
}

.hero__bg.a {
  background-image: url(../images/imgMain01.webp);
}
.hero__bg.b {
  background-image: url(../images/imgMain02.webp);
}
.hero__bg.c {
  background-image: url(../images/imgMain03.webp);
}
.hero__bg.is-active {
  opacity: 1;
}


/* ==============================
            about
============================== */

.section--about {
  overflow: visible;
  padding-inline: 0 ;
}
.section--about .lead {
  padding-inline: 4.97% ;
}

.aboutGrid {
  display: flex;
  padding-inline: 4.97%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reason__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
}

.reason__text {
  text-align: left;
}

.reason__title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--fs-sectionItem-20);
  font-weight: var(--fw-bold);
  letter-spacing: 0.05em;
  color: var(--blue);

  &::before {
    content: "";
    display: inline-block;
    width: 26px;
    aspect-ratio: 1/1;
  	background: url(../images/iconAboutPatrol.svg) center / contain no-repeat;
  }
}

.reason__title.camera::before {
 	background: url(../images/iconAboutCamera.svg) center / contain no-repeat;
}

.reason__title.light::before {
 	background: url(../images/iconAboutLight.svg) center / contain no-repeat;
}

.btn--about::after {
  background: url(../images/arrow.svg) center / contain no-repeat;
}


  /* ==============================
            about-Page
  ============================== */
.section--about--page {
  padding: 180px 4.97% 60px;
}

.aboutGrid--page{
  padding:0;
}

.aboutPhotos__wrap {
  padding-bottom: 40px;
}

.aboutPhotos__list {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;

  .aboutPhotos__item {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    transition: 0.1s;
  }

  .aboutPhotos__item:hover {
    transform: scale(1.05);
  }

  .aboutPhotos__photo {
    cursor: zoom-in;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: 0.1s;
  }
  .aboutPhotos__photo:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

.aboutGames {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;

  h3 {
    width: fit-content;
  }

  .lead--aboutGames {
    width: min(800px, 100%);
    padding: 0 ;
  }

  .aboutGames--miniTitle {
    font-size: var(--fs-sectionItem-20);
    font-weight: var(--fw-medium);
    padding-top: 40px;
  }
}

.aboutGames__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  width: min(860px, 100%);
  padding: 20px 0 40px 0;

  .aboutGames__item {
    aspect-ratio: 256 / 171;
  }

  .aboutGames__photo {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.section--access--under {
  padding-bottom: 120px;
}

/*=========== スライダ用 ChatGPT出力＋調整 ===========*/


.section--about .mySlider {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.mySlider .swiper-wrapper {
  position: relative;
  padding-bottom: 30px;
}

.mySlider .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}

/* ちょい“中央が主役”感：中央以外を少し薄く */
.mySlider .swiper-slide {
  width: 80%;
  opacity: .55;
  transform: scale(0.8);
  transition: opacity .25s, transform .25s;
}

.mySlider .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

/* ドット位置・サイズはここで調整 */
.mySlider .swiper-pagination {
  position: absolute;
  height: auto;
}

.mySlider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #ccc;
  opacity: 1;
}

.mySlider .swiper-pagination-bullet-active {
  background: var(--blue);
}

/*=========== モーダル実装 ===========*/

.photoModal {
  position:fixed;/* fixedで決まった位置に出す */
  margin: auto;
  border: none;
  padding: 0;
  background: transparent;
  max-width: min(90vw, 1000px);

  opacity: 0; /* アニメーションするので0にしておく */
  transform: scale(0.95);
}

 /* オープン属性がついたらアニメーションさせて表示する */
.photoModal[open] {
  animation: modalFadeIn 0.2s ease forwards;
}

.photoModal::backdrop {
  background: rgba(0,0,0,.7);
}

.photoModal[open]::backdrop {
  background: rgba(0,0,0,0.7);
  animation: modalBGFadeIn 0.2s ease forwards;
}

.photoModal__figure {
  margin: 0;
}

.photoModal__img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 80vh;
  object-fit: contain; /* 画像を全部表示する為にcontainに */
  background: #000;
}

/* モーダルの右上のクローズボタン */
.photoModal__close {
  position: absolute;
  height: 40px;
  aspect-ratio: 1 / 1 ; /* 背景を真四角にするために 1/1に*/
  right: 0;
  font-size: var(--fs-sectionTitle-40);
  background: var(--blue);
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ==============================
             access
 ============================== */


.lead--access {
  text-align: center;
}

.access__map {
  width: 100%;
  position: relative;
}

.access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.1);
  border: none;
}

.access__info {
  padding-top: 40px;
  text-align: center;
}

.access__list {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap:20px;
  column-gap: 40px;
}

.access__item {
  display: grid;
  gap: 5px;
  text-align: left;

  dd {
    font-size: var(--fs-text-16) ;
  }
}

.access__item.is--full {
  grid-column: 1 / -1;
}

.access__item dt {
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
}


  /* ==============================
              access
  ============================== */

.service__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding-bottom: 40px;
}

/* 右上のコーナーを削る処理  */
.service__card {
  border-top-right-radius: 20px;
  corner-shape: bevel;  /* VSCodeでcorner-shapeがフォローされていないためかcautionになる */
  overflow: hidden;
}

.service__title {
  position: relative;
  padding-top: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color:var(--blue);

  font-size: var(--fs-sectionItem-20);
  font-weight: var(--fw-bold);
  color: var(--white);
}

.service__title::before {
  content: "";
  position: absolute;
  overflow: hidden;
  left:0;
  top:0;
  width: 100%;
  height: 8px;
  background: url("../images/imgAccentHolo.webp") center / cover no-repeat;
  background-position: center 10%;
}

.acceline02::before {
  background-position: center 40%;
}

.acceline03::before {
  background-position: center 90%;
}

.service__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 100%;
  height: auto;
  padding: 10px 20px 20px;
  border: 2px solid blue;
  font-size: var(--fs-text-16);

  img {
    max-width: 100%;
  }
}


  /* ==============================
                q&a
  ============================== */


.accordion {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  width: 100%;
  padding-bottom: 40px;
}

.qa__q {
  min-width: 0;
  display: grid;
  grid-template-columns: 40px minmax(0, 1fr) auto;
  text-align: left;
  gap: 20px;
  padding: 10px 30px;
  background-color: rgb(33, 78, 255);
  color: var(--white);
  font-size: var(--fs-text-16);
  font-weight: var(--fw-semibold);

  .qa__label {
    text-align: center;
    font-size: 1.75rem;
  }

  .qa__title {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .qa__icon {
  display: block;
  width: 10px;
  height: auto;
  aspect-ratio: 1 / 1;

  margin: auto 0;
  border-right: 3px solid rgb(255,255,255);
  border-bottom: 3px solid rgb(255,255,255);
  transform: rotateZ(45deg);
  transition: 0.4s;
  }
}

/*  */
details[open] .qa__icon {
  transform: rotate(-495deg);
}

details {
  /* --------アコーディオンの中身のスタイル-------- */
  &::details-content {
    transition:
      height 0.4s,
      opacity 0.4s,
      content-visibility 0.4s allow-discrete;
    height: 0;
    opacity: 0;
    overflow: clip;
  }

  /* --------アコーディオンの中身のスタイル（開いている時）-------- */
  &[open]::details-content {
    opacity: 1;
  }

  /* アコーディオンが開いた時のスタイル */
  &[open] .icon {
    transform: rotate(180deg);
  }
}

.qa__a {
  display: grid;
  grid-template-columns: 40px minmax(0 ,1fr);
  padding: 10px 20px 10px 30px;
  gap: 20px;

  border: 3px solid rgb(33, 78, 255);

  .qa__label {
    margin: auto 0;
    font-size: var(--fs-text-16);
    font-weight: var(--fw-semibold);
    text-align: center;
    font-size: 1.75rem;
    color: var(--blue);
  }

  p {
    text-align: left;
    font-weight: var(--fw-medium);
  }
}

.qa__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subTitle--qa {
  padding-bottom: 40px;
}

/* === 外部サイトからの参考コード ===*/
/* 古いブラウザに対応させるために下記を記載する */
@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords; /* height:0（数値型） → auto（文字型） のアニメーションを可能にするための指定 */
  }
  details[open]::details-content {
    height: auto;
  }
}

/* height:0→autoへのアニメーションが対応していない場合は、固定値にアニメーションさせる */
@supports not (interpolate-size: allow-keywords) {
  details[open]::details-content {
    height: 400px;
    overflow-y: scroll;
  }
}
/* === 外部サイトからの参考コード ===*/


  /* ==============================
              news
  ============================== */

.btn--news {
  font-size: var(--fs-sectionItem-20);
}


  /* ==============================
              footer
  ============================== */

.footer {
  padding: 100px 4.97% 0;
  background-color: #222222;
  color: white;
}


.sectionTitle__text--footer {
  font-family: "Anton", sans-serif;
  color: var(--green);
  border: none;

  span {
    font-size: var(--fs-subTitle-24);
  }
}

.access__info--footer {
  padding-top: 60px;
}

.footer__item--line {
  position: relative;
  padding-left: 40px;
}

.footer__item--line::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 60%;
  background: rgb(255,255,255);
}

.gnav--footer {
  text-align: center;
  height: auto;
  padding: 60px 0 40px 0;
}

.gnav__list--footer {
  width: 100%;
  height: auto;
  padding: 0;
}
.gnav__item--footer {
  color: var(--green);
  flex-grow: 0;
}

.footer__X--logo {
  margin: 0 auto;
	background: url(../images/x-logo/logo-white.png) center / contain no-repeat;
}

.footer__copy {
  text-align: center;
  padding-top: 40px;
}

.footer__copy::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--white);
}

.copy__info {
  text-align: center;
  font-size: 12px;
}


.btn__toTop {
  z-index: 100;
  position: fixed;
  display: block;
  width: 70px;
  height: 70px;
  aspect-ratio: 1 / 1;
  bottom: -20px;
  right: 20px;
  background-color: var(--blue);
  align-items: center;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;

  a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/iconPageTop.svg) center / contain no-repeat;
    background-size: 40%;
  }

}

.btn__toTop.is-show{
  opacity: 1;
  pointer-events: auto;
  bottom: 20px;
}

/* PCクラスは表示しない */
.pc {
  display: none;
}

/* スクロールフェードイン初期状態（まだ出てない） */
.section.js-reveal {
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.2s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

/* 表示状態 */
.js-reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* 連続で出す時の“間”が欲しければ任意 */
.js-reveal[data-delay] {
  transition-delay: var(--delay, 0ms);
}

/* アクセシビリティ：動きが苦手な人にはアニメ無し */
@media (prefers-reduced-motion: reduce) {
  .js-reveal {
    transition: none;
    transform: none;
    opacity: 1;
  }
}


/* ============================================================
                    media query - forPC
============================================================ */

@media screen and ( min-width: 769px) {

  /* ==============================
            common - forPC
  ============================== */

  /* メディアクエリ内においてSPクラスは表示しない */
  .sp {
    display: none;
  }

  .pc {
    display: block;
  }

  .section {
    width: 100%;
    padding: 190px 8% 90px;
    overflow-x: clip;
  }

  .sectionTitle {
    padding: 0 0 80px 0;
  }

  .sectionTitle__ghost {
    font-size: var(--fs-ghost-PC-230);
    line-height: 0.88;
    letter-spacing: 0.03em;

    -webkit-text-stroke-width: 2px;

    position: absolute;
    transform: skew(var(--tf-skew));
    top: -0.54em;
  }

  .lead {
    width: min(680px,100%);
    padding: 0 0 80px 0;
    margin: 0 auto;
  }


  /* ==============================
              header-PC
  ============================== */

  .header {
    padding-inline: 50px 60px;
  }

  .menu {
    width: min(600px, 100%);
  }

  .gnav__item+.gnav__item {
    border-style: none;
  }

  .gnav__item a{
    position: relative;
    display: inline-block;
  }

  .gnav__item a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -1px;
    background-color: var(--blue);
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform 0.2s;
  }

  .gnav__item a:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
  }


  /* ==============================
                hero-PC
  ============================== */

  .hero {
    height: 92vh;
    background-position: 53% center;
  }

  .hero__inner {
    display: flex;
    height: 92vh;
    padding: 60px 20px 80px;
    justify-content: space-between;
    flex-direction: column;

    position: relative;
  }

  .hero__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8%;
    position: absolute;
    bottom: 160px;
  }

  .hero__logo {
    z-index: 10;
    width: 524px;
    height: auto;
    aspect-ratio: 517 / 69;

    stroke-width: 3px;
  }

  .hero__cta {
    position: absolute;
    bottom: 60px;
    right: 5%;

    .btn--hero {
    margin-top: 10px;
    width: 300px;
    }
  }

  .hero__bg {
    animation: none;
  }

  /* ==============================
              about-PC
  ============================== */

  .section--about {
    padding-inline: 12.5%;
  }

  .aboutGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(1140px, 100%);
    margin: 0 auto;
  }

  .aboutText {
    display: flex;
    width: 94%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .subTitle--reason {
      width: fit-content; /* 要素を中身の幅に合わせる  */
      margin: 0 auto;
    }

    .reason__list {
      gap: 50px;
    }
  }

  .aboutPhotos__wrap {
    margin-left: auto;
  }

  .aboutPhotos__list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;

    .aboutPhotos__item {
      aspect-ratio: 1 / 1;
      overflow: hidden;
    }

    .aboutPhotos__photo {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  .aboutGames {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

    h3 {
      width: fit-content;
    }

    .lead--aboutGames {
      width: min(800px, 100%);
      padding: 0 ;
    }

    .aboutGames--miniTitle {
      font-size: var(--fs-sectionItem-20);
      font-weight: var(--fw-medium);
      padding-top: 40px;
    }
  }

  .aboutGames__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    width: min(860px, 100%);
    padding-top: 20px;

    .aboutGames__item {
      aspect-ratio: 256 / 171;
    }

    .aboutGames__photo {
      width: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  /* ==============================
              access-PC
  ============================== */

  .section--access {
    padding-top: 100px;
    padding-inline: 12.5%;
  }

  .access__info--pc {
    padding-top: 80px;
  }

  .access__wrap--pc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(1140px, 100%);
    margin: 0 auto;
  }

  .lead--access {
    padding: 0;
  }

  .access__list {
    width: min(340px,100%);
    margin: 0 auto;
  }

  .access__map {
    width: min(500px, 100%);
    aspect-ratio: 1 / 1;
    margin-left: auto;
  }

  /* ==============================
              service-PC
  ============================== */

  .lead--service {
    padding-bottom: 60px;
    width: min(780px, 100%);
  }

  .service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;
    padding-bottom: 60px;
    width: min(1140px, 100%);
    margin: 0 auto;
  }

  .service__card {
    display: flex;
    flex-direction: column;
  }

  .service__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    text-align: left;

    img {
      display: block;
      max-width: 100%;
      margin-top: auto;
    }
  }


   /* ==============================
                Q&A-PC
  ============================== */

  .sectionTitle--qa {
    padding-bottom: 100px;
  }

  .accordion {
    margin: 0 auto;
    width: min(720px, 100%);
  }

  .qa__a {
    padding: 20px 20px 20px 30px;
  }


  /* ==============================
                news-PC
  ============================== */

  .section--news {
    padding-top: 140px;
    padding-bottom: 100px;
  }

  .news__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    width: min(1140px, 100%);
    margin:0 auto;
  }

  .sectionTitle--news {
    padding-bottom: 10px;
  }

  .lead--news {
    width: min(360px, 100%);
    padding-bottom: 10px;
  }

  /* ==============================
              footer-PC
  ============================== */

  .footer {
    padding-top: 90px;
  }

  .footer__wrap {
    width: min(1140px,100%);
    margin: 0 auto;
  }

  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .gnav--footer {
    width: min(400px, 100%);
    padding: 0;
  }

  .gnav__item--footer {
    font-size: var(--fs-subTitle-24);
  }

  .access__info--footer {
    display: flex;
    justify-content: space-between;
  }

  .access__list--footer {
    width: min(720px, 100%);
    display: grid;
    grid-template-columns: max-content max-content max-content;
    row-gap:20px;
    column-gap: 40px;
    margin: 0;
  }

  .access__item--footer {
    object-fit: cover;
    gap: 0;
  }

  .access__item--footer.is--full {
    grid-column: 1;
  }

  .footer__X--logo {
    margin-right: 0;
  }

  .footer__item--line--pc {
    position: relative;
    padding-left: 40px;
  }

  .footer__item--line--pc::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 60%;
    background: rgb(255,255,255);
  }

  .btn__toTop {
    bottom: 100px;
    right: 100px;
  }

}
  /* ==============================
          jsクラス切り替え
  ============================== */


.js .type-js.is-typing,
.js .type-js.is-typed {
  visibility: visible;
}

